/*  COLORS
 hot pink: #EA3E94,
 red (dark pink): #D62F61,
 purple: #782464,
 blue: #1E53A2,
 turquoise: #39BFBD,
 green: #139275,
 yellow: #FED02F
*/



/******************SETS MAIN LAYOUT STYLE *******************/


body {
  background: url("img/background.jpg") center no-repeat;
  background-size:cover;
}


h1, h2, h3 {
  font-family: 'Monoton', cursive;
  color: white;
}


p {
  font-family: 'Poiret One', cursive;
}


.content {
  background-color: black;
  width: 60%;
  margin: 0 20%;
}



/******************SETS NAV STYLE *******************/
.nav{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  background-color: #D62F61;
}

.nav li {
  padding:10px;
  color: #139275;
}

a {
  display: inline-block;
  padding: 10px;
  border: none;
  font: normal 30px 'Monoton', cursive;
  color: rgba(255,255,255,1);
  text-decoration: none;
  text-align: center;
}

a:hover {
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
}

/******************SETS INDEX PAGE STYLE *******************/


/******************SETS CULTURE PAGE STYLE *******************/


/******************SETS EXPERIENCE PAGE STYLE *******************/



/******************SETS PRODUCTS PAGE STYLE *******************/
.experienceTitle {
  text-align: center
}

.experienceSection {
  border-bottom: 8px solid black;
}

.experienceSection:nth-child(1n+1) {
  background-color: #782464;
}

.experienceSection:nth-child(2n+2) {
  background-color: #D62F61;
}

.experienceSection:nth-child(3n+1) {
  background-color: #1E53A2;
}

.experienceSection:nth-child(4n+1) {
  background-color: #39BFBD;
}

.experienceHeader {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, .2);
}

/*Styles the thumbs up/down */
.experienceHeader img {
  width: 30px;
  padding: 10px;
  display: inline-block;
  position: absolute;
}

/*Styles the experience title*/
.experienceHeader h3 {
  display: inline-block;
  padding: 10px 50px;
  margin: 5px;
  font-family: arial;
  font-size: 20px;
}


/*Styles the "product: " section*/
.experienceHeader h4 {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: white;
  border-radius: 10px;
  font-family: 'Poiret One', cursive;
  color: black;
  box-shadow: inset 0 0 10px #000000;
}

/*Styles the main picture*/
.experienceSection > img{
  display: inline-block;
  float: left;
  margin: 20px;
  width: 20%;
}

.experienceSection > p {
  display: inline-block;
  float: right;
  width: 60%;
  margin: 50px 20px 0px 10px;
  text-align: justify;
  color: white;
}


.clear {
  clear: both;
}

.productCard {
  float: left;
  border-radius: 100%;
  width: 400px;
  height: 400px;
  background-color: #139275;
  text-align: center;
  border: 2px dashed #FED02F;
}

.productImage {
  margin-top: 65px;
}



