/*  COLORS

 hot pink: #EA3E94,
 red (dark pink): #D62F61,
 purple: #782464,
 blue: #1E53A2,
 turquoise: #39BFBD,
 green: #139275,
 yellow: #FED02F

*/
.nav{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  background-color: #D62F61;
}

.nav li {
  padding:10px;
  color: #139275;
}

.social{
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.social img{
  width: 20%;
}

body {
  background-color: black;
  color: white;
}

h1, h2, h3 {
  font-family: 'Monoton', cursive;
}



p {
  font-family: 'Poiret One', cursive;
}